table{
    width: 100%;
}


#navegacao{
    text-align: right;
    color: black;
    background-color: bisque;
}

#titulo{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    color: black;
}

#logo{
    background-color: darkgray;

}


nav{
    border-color: blue;
    border-radius: 2%;
    text-align: center;
}


a {
    margin-right: 5rem;
    margin-left: 5rem;
    font-size:  larger;
}

img{
    width: 140px;
    height: 100px;
}